@model MVC_Website.Models.MaxAttempt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MaxAttempt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalculatedMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalculatedMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaxAttemptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
