@model IEnumerable<MVC_Website.Models.MaxAttempt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalculatedMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalculatedMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaxAttemptId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaxAttemptId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaxAttemptId })
        </td>
    </tr>
}

</table>
